@keyframes shake {
    0% { transform: translate(2px, 2px) rotate(0deg); }
    10% { transform: translate(-2px, -2px) rotate(-1deg); }
    20% { transform: translate(2px, -2px) rotate(1deg); }
    30% { transform: translate(-2px, 2px) rotate(0deg); }
    40% { transform: translate(2px, 2px) rotate(1deg); }
    50% { transform: translate(-2px, -2px) rotate(-1deg); }
    60% { transform: translate(2px, -2px) rotate(0deg); }
    70% { transform: translate(-2px, 2px) rotate(1deg); }
    80% { transform: translate(2px, 2px) rotate(-1deg); }
    90% { transform: translate(-2px, -2px) rotate(0deg); }
    100% { transform: translate(2px, 2px) rotate(1deg); }
}

.glitch-effect {
    animation: shake 0.1s infinite;
}

input:checked + div {
    background-color: #4F46E5;
}
input:checked + div #glitchThumb {
    transform: translateX(18px);
}